@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@1&display=swap');

:root{
    --primary-color: rgb(205, 208, 192) ;
    --font-color: rgb(50, 46, 67);
}

* {
    box-sizing: border-box;
    color: var(--font-color);
}

body{
    padding: 0rem;
    background-color:cornsilk;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color:var(--primary-color) ;
    margin-top: 5rem;
    border: 0rem solid var(--font-color);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.7rem var(--font-color);
}

.date{
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
}

#date{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 0.5rem;
    border-style:groove;
    margin: 0 1rem;
}

#date:hover{
    background-color: var(--font-color);
    color:var(--primary-color);
}

#btn{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary-color);
    border-radius:0.5rem;
    border-style: groove;
}

#btn:hover {
    background-color: var(--font-color) ;
    color: var(--primary-color);
}

.header{
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Tiro Tamil', serif;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.container-el {
    margin: 0 2rem;
}

.content{
    font-size: 5rem;
    font-weight:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.time{
    font-size: 1.5rem;
    font-weight: 500;
}

